<div class="container">
<div class="row">
  <div class="col-6">
    <h2>Products
      <a mat-icon-button routerLink="create">
        <mat-icon>control_point</mat-icon>
      </a>
    </h2>
  </div>
  <div class="col-6">
    <mat-form-field class="float-right" appearance="fill">
      <mat-label>Select Shopping List</mat-label>
      <mat-select [(ngModel)]="selList" name="food">
        <mat-option *ngFor="let list of lists" [value]="list._id">
          {{list.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
  <section class="jumbotron text-center">
    <div class="product-list">
      <mat-card class="product-card"
                *ngFor="let product of product$">
        <img mat-card-image src="./assets/images/carrot.webp" alt="Photo of this product">
        <mat-card-header>
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle>€ {{product.price}},-</mat-card-subtitle>
          <span class="fill-space"></span>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onSelect(product)">
              <mat-icon>add</mat-icon>
              Add to List
            </button>
          </mat-card-actions>
        </mat-card-header>
      </mat-card>
    </div>
  </section>
</div>
