<div class="container">
  <div class="row">
    <form [formGroup]="productForm">
      <h2>Create product</h2>
      <p>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Price</mat-label>
          <input class="example-right-align" formControlName="price" matInput type="number">
          <span matPrefix>€&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Categories</mat-label>
          <mat-select formControlName="price">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
      </p>
    </form>
  </div>
</div>
