<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLinkActive]="['active']"
      class="navbar-brand"
      routerLink="/">
      {{ title }}
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLinkActive]="['active']"
          class="nav-link"
          routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLinkActive]="['active']"
          class="nav-link"
          routerLink="/about">About</a>
      </li>
    </ul>
    <div *ngIf="userExists()">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [routerLinkActive]="['active']"
             class="nav-link"
             routerLink="/list">
            <mat-icon>list_alt</mat-icon>
            My lists
          </a>
        </li>
        <li class="nav-item">
          <button [matMenuTriggerFor]="menu" mat-button>{{username}}</button>
          <mat-menu #menu>
            <a [routerLinkActive]="['active']"
               class="nav-link"
               mat-menu-item>
              <mat-icon>person</mat-icon>
              Profile
            </a>
            <a [routerLinkActive]="['active']"
               class="nav-link"
               mat-menu-item
               routerLink="/groups">
              <mat-icon>group_work</mat-icon>
              My Groups
            </a>
            <a [routerLinkActive]="['active']"
               class="nav-link"
               mat-menu-item
               routerLink="/groups">
              <mat-icon>people_alt</mat-icon>
              My Friends
            </a>
            <a (click)="logout()"
               [routerLinkActive]="['active']"
               class="nav-link" mat-menu-item>
              <mat-icon>logout</mat-icon>
              Logout
            </a>
          </mat-menu>
        </li>
      </ul>
    </div>
    <div *ngIf="!userExists()">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            [routerLinkActive]="['active']"
            class="nav-link"
            routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['active']"
             class="nav-link"
             routerLink="/login">Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
