<div class="container">
  <h1>{{title}}
    <button (click)="edit()" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </h1>
  <mat-selection-list #list>
    <mat-list-option *ngFor="let item of products;" [value]="item._id"
                     (click)="onAreaListControlChanged(list)">
      <div class="list-header">
        <img mat-card-avatar src="./assets/images/carrot.webp" alt="..."/>
        <div class="product-body">
          <p mat-line class="md-body-2">{{item.name}}</p>
          <p mat-line class="md-caption font-weight-bold">€ {{item.price}},-</p>
        </div>
      </div>
    </mat-list-option>
  </mat-selection-list>
  <div class="list-footer">
      <button mat-raised-button (click)="deleteItems()">
        <mat-icon>checkmark</mat-icon>
      </button>
  </div>
</div>

