<div class="container">
  <h2>Shopping Lists
    <a mat-icon-button routerLink="/list/create">
      <mat-icon>control_point</mat-icon>
    </a>
  </h2>
  <mat-selection-list multiple="false">
    <mat-list-option *ngFor="let item of lists" [routerLink]="[item._id]">
      <p mat-line class="md-body-2">{{item.name}}</p>
    </mat-list-option>
  </mat-selection-list>
</div>

