<div class="container">
  <h2>Groups
    <a mat-icon-button routerLink="/groups/create">
      <mat-icon>control_point</mat-icon>
    </a>
  </h2>
  <mat-selection-list multiple="false">
    <mat-list-option *ngFor="let item of groups" [routerLink]="[item._id]">
      <p class="md-body-2" mat-line>{{item.name}}
        <button (click)="delete(item._id);$event.stopPropagation()" class="float-right" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </p>
    </mat-list-option>
  </mat-selection-list>
</div>

